<!-- Post previews -->
{% for post in all_posts %}
<div class="post-preview">
  <a href="{{ url_for('show_post', post_id=post.id) }}">
    <h2 class="post-title">{{ post.title }}</h2>
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
  </a>
  <p class="post-meta">
    Posted by
    <a href="#">{{ post.author.name }}</a>
    on {{post.date}}
    {% if current_user.is_authenticated and current_user.is_admin %}
    <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
    {% endif %}
  </p>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endfor %}

<!-- New Post -->
{% if current_user.is_authenticated and current_user.is_admin %}
<div class="d-flex justify-content-end mb-4">
  <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
</div>
{% endif %}

<!-- Pager-->
{% macro render_pagination(pagination, endpoint) %}
  <div class="page-items text-center text-muted small mb-2">
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
  </div>
  <div class="pagination justify-content-center mb-4">
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
          <strong class="page-link active">{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class="page-link disabled ellipsis">…</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
{{ render_pagination(all_posts, 'get_all_posts') }}
